interactions:
- request:
    body: '{"seriesid":["CUSR0000SA0","CUSR0000SA0L1E","LNS14000000","CES0000000001","LNS11300000"],"startyear":"2025","endyear":"2026","registrationkey":"REDACTED"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.bls.gov/publicAPI/v2/timeseries/data/
  response:
    body:
      string: '{"status":"REQUEST_SUCCEEDED","responseTime":94,"message":[],"Results":{

        "series":

        [{"seriesID":"CUSR0000SA0","data":[{"year":"2026","period":"M08","periodName":"August","latest":"true","value":"334.131","footnotes":[{}]},{"year":"2026","period":"M07","periodName":"July","value":"332.813","footnotes":[{}]},{"year":"2026","period":"M06","periodName":"June","value":"332.568","footnotes":[{}]},{"year":"2026","period":"M05","periodName":"May","value":"333.979","footnotes":[{}]},{"year":"2026","period":"M04","periodName":"April","value":"332.407","footnotes":[{}]},{"year":"2026","period":"M03","periodName":"March","value":"330.293","footnotes":[{}]},{"year":"2026","period":"M02","periodName":"February","value":"327.460","footnotes":[{}]},{"year":"2026","period":"M01","periodName":"January","value":"326.588","footnotes":[{}]},{"year":"2025","period":"M12","periodName":"December","value":"326.031","footnotes":[{}]},{"year":"2025","period":"M11","periodName":"November","value":"325.063","footnotes":[{}]},{"year":"2025","period":"M10","periodName":"October","value":"-","footnotes":[{"code":"X","text":"Data
        unavailable due to the 2025 lapse in appropriations"}]},{"year":"2025","period":"M09","periodName":"September","value":"324.245","footnotes":[{}]},{"year":"2025","period":"M08","periodName":"August","value":"323.291","footnotes":[{}]},{"year":"2025","period":"M07","periodName":"July","value":"322.169","footnotes":[{}]},{"year":"2025","period":"M06","periodName":"June","value":"321.435","footnotes":[{}]},{"year":"2025","period":"M05","periodName":"May","value":"320.620","footnotes":[...]
