interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.congress.gov/v3/bill/119/s?api_key=REDACTED&format=json&fromDateTime=2026-09-30T00%3A00%3A00Z&limit=20&sort=updateDate+desc
  response:
    body:
      string: "{\n    \"bills\": [\n        {\n            \"congress\": 119,\n            \"introducedDate\":
        \"2025-03-06\",\n            \"latestAction\": {\n                \"actionDate\":
        \"2025-03-06\",\n                \"text\": \"Read twice and referred to the
        Committee on Banking, Housing, and Urban Affairs. (text: CR S1605-1606)\"\n
        \           },\n            \"number\": \"877\",\n            \"originChamber\":
        \"Senate\",\n            \"originChamberCode\": \"S\",\n            \"title\":
        \"Roberto Clemente Commemorative Coin Act\",\n            \"type\": \"S\",\n
        \           \"updateDate\": \"2026-10-07\",\n            \"updateDateIncludingText\":
        \"2026-10-07\",\n            \"url\": \"https://api.congress.gov/v3/bill/119/s/877?format=json\"\n
        \       },\n        {\n            \"congress\": 119,\n            \"introducedDate\":
        \"2025-09-29\",\n            \"latestAction\": {\n                \"actionDate\":
        \"2026-09-30\",\n                \"text\": \"Committee on Homeland Security
        and Governmental Affairs. Hearings held.\"\n            },\n            \"number\":
        \"2938\",\n            \"originChamber\": \"Senate\",\n            \"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.congress.gov/v3/bill/119/s/877?api_key=REDACTED&format=json
  response:
    body:
      string: "{\n    \"bill\": {\n        \"actions\": {\n            \"count\":
        2,\n            \"url\": \"https://api.congress.gov/v3/bill/119/s/877/actions?format=json\"\n
        \       },\n        \"committees\": {\n            \"count\": 1,\n            \"url\":
        \"https://api.congress.gov/v3/bill/119/s/877/committees?format=json\"\n        },\n
        \       \"congress\": 119,\n        \"cosponsors\": {\n            \"count\":
        7,\n            \"countIncludingWithdrawnCosponsors\": 7,\n            \"url\":
        \"https://api.congress.gov/v3/bill/119/s/877/cosponsors?format=json\"\n        },\n
        \       \"introducedDate\": \"2025-03-06\",\n        \"latestAction\": {\n
        \           \"actionDate\": \"2025-03-06\",\n            \"text\": \"Read
        twice and referred to the Committee on Banking, Housing, and Urban Affairs.
        (text: CR S1605-1606)\"\n        },\n        \"legislationUrl\": \"https://www.congress.gov/bill/119th-congress/senate-bill/877\",\n
        \       \"number\": \"877\",\n        \"originChamber\": \"Senate\",\n        \"originChamberCode\":
        \"S\",\n        \"policyArea\": {\n            \"name\": \"Finance and Financial
        Sector\"\n        },\n        \"relatedBills\": {\n            \"count\":
        1,\n            \"url\": \"https://api.congress.gov/v3/bill/119/s/877/relatedbills?format=json\"\n
        \       },\n        \"sponsors\": [\n            {\n                \"bioguideId\":
        \"S000148\",\n                \"firstName\": \"Charles\",\n                \"fullName\":
        \"Sen. Schumer, Charles E. [D-NY]\",\n                \"isByRequest\": \"N\",\n
        \               \"lastName\": \"Schumer\",\n                \"middleName\":
        \"E.\",\n                \"party\": \"D\",\n                \"state\": \"NY\",\n
        \               \"url\": \"https://api.congress.gov/v3/member/S000148?format=json\"\n
        \           }\n        ],\n        \"subjects\": {\n            \"count\":
        1,\n            \"url\": \"https://api.congress.gov/v3/bill/119/s/877/subjects?format=json\"\n
        \       },\n        \"summaries\": {\n            \"count\": 1,\n            \"url\":
        \"https://api.congress.gov/v3/bill/119/s/877/summaries?format=json\"\n        },\n
        \       \"textVersions\": {\n            \"count\": 1,\n            \"url\":
        \"https://api.congress.gov/v3/bill/119/s/877/text?format=json\"\n        },\n
        \       \"title\": \"Roberto Clemente Commemorative Coin Act\",\n        \"titles\":
        {\n            \"count\": 3,\n            \"url\": \"https://api.congress.gov/v3/bill/119/s/877/titles?format=json\"\n
        \       },\n        \"type\": \"S\",\n        \"updateDate\": \"2026-10-07T15:37:02Z\",\n
        \       \"updateDateIncludingText\": \"2026-10-07T15:37:02Z\"\n    },\n    \"request\":
        {\n        \"billNumber\": \"877\",\n        \"billType\": \"s\",\n        \"congress\":
        \"119\",\n        \"contentType\": \"application/json\",\n        \"format\":
        \"json\"\n    }\n}"
    headers:
      content-type:
      - application/json
      last-modified:
      - Wed, 07 Oct 2026 15:37:45 GMT
      link:
      - <https://api.congress.gov/v3/bill/119/s/877>; rel="canonical"
      x-api-umbrella-request-id:
      - d12s39i3igct75msc3rg
      x-ratelimit-limit:
      - '20000'
      x-ratelimit-remaining:
      - '19993'
      x-vcap-request-id:
      - b60c84d0-8c01-4cf7-76d6-29b012e8d58b
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.congress.gov/v3/bill/119/s/5600?api_key=REDACTED&format=json
  response:
    body:
      string: "{\n    \"bill\": {\n        \"actions\": {\n            \"count\":
        6,\n            \"url\": \"https://api.congress.gov/v3/bill/119/s/5600/actions?format=json\"\n
        \       },\n        \"congress\": 119,\n        \"cosponsors\": {\n            \"count\":
        3,\n            \"countIncludingWithdrawnCosponsors\": 3,\n            \"url\":
        \"https://api.congress.gov/v3/bill/119/s/5600/cosponsors?format=json\"\n        },\n
        \       \"introducedDate\": \"2026-09-29\",\n        \"latestAction\": {\n
        \           \"actionDate\": \"2026-10-05\",\n            \"actionTime\": \"16:55:22\",\n
        \           \"text\": \"Held at the desk.\"\n        },\n        \"legislationUrl\":
        \"https://www.congress.gov/bill/119th-congress/senate-bill/5600\",\n        \"number\":
        \"5600\",\n        \"originChamber\": \"Senate\",\n        \"originChamberCode\":
        \"S\",\n        \"policyArea\": {\n            \"name\": \"Health\"\n        },\n
        \       \"sponsors\": [\n            {\n                \"bioguideId\": \"A000383\",\n
        \          [...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.congress.gov/v3/bill/119/s/4668?api_key=REDACTED&format=json
  response:
    body:
      string: "{\n    \"bill\": {\n        \"actions\": {\n            \"count\":
        28,\n            \"url\": \"https://api.congress.gov/v3/bill/119/s/4668/actions?format=json\"\n
        \       },\n        \"amendments\": {\n            \"count\": 74,\n            \"url\":
        \"https://api.congress.gov/v3/bill/119/s/4668/amendments?format=json\"\n        },\n
        \       \"cboCostEstimates\": [\n            {\n                \"description\":
        \"As reported by the Senate Committee on Commerce, Science, and Transportation
        on \\nJune 24, 2026\\n\",\n                \"pubDate\": \"2026-07-31T18:43:00Z\",\n
        \               \"title\": \"S. 4668, Protect College Sports Act of 2026\",\n
        \               \"url\": \"https://www.cbo.gov/publication/62630\"\n            }\n
        \       ],\n        \"committees\": {\n            \"count\": 1,\n            \"url\":
        \"https://api.congress.gov/v3/bill/119/s/4668/committees?format=json\"\n        },\n
        \       \"congress\": 119,\n        \"cosponsors\": {\n            \"count\":
        9,\n       [...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.congress.gov/v3/bill/119/s/3383?api_key=REDACTED&format=json
  response:
    body:
      string: "{\n    \"bill\": {\n        \"actions\": {\n            \"count\":
        12,\n            \"url\": \"https://api.congress.gov/v3/bill/119/s/3383/actions?format=json\"\n
        \       },\n        \"amendments\": {\n            \"count\": 1,\n            \"url\":
        \"https://api.congress.gov/v3/bill/119/s/3383/amendments?format=json\"\n        },\n
        \       \"cboCostEstimates\": [\n            {\n                \"description\":
        \"As ordered reported by the Senate Committee on Indian Affairs on December
        17, 2025\",\n                \"pubDate\": \"2026-04-14T19:14:00Z\",\n                \"title\":
        \"S. 3383, Unlocking Native Lands and Opportunities for Commerce and Key Economic
        Developments Act of 2025\",\n                \"url\": \"https://www.cbo.gov/publication/62341\"\n
        \           }\n        ],\n        \"committeeReports\": [\n            {\n
        \               \"citation\": \"S. Rept. 119-130\",\n                \"url\":
        \"https://api.congress.gov/v3/committee-report/119/SRPT/130?format=json\"\n
        \           }\n        ],\n        \"committees\": {\n            \"count\":
        1,\n            \"url\": \"https://api.congress.gov/v3/bill/119/s/3383/committees?format=json\"\n
        \       },\n        \"congress\": 119,\n        \"cosponsors\": {\n            \"count\":
        2,\n            \"countIncludingWithdrawnCosponsors\": 2,\n           [...]
[...]
