interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open.fec.gov/v1/candidates/totals/?api_key=REDACTED&election_full=true&election_year=2026&office=S&per_page=100&sort=-receipts&state=AK
  response:
    body:
      string: '{"api_version":"1.0","pagination":{"count":13,"is_count_exact":true,"page":1,"pages":1,"per_page":100},"results":[{"active_through":2026,"address_city":"ANCHORAGE","address_state":"AK","address_street_1":"PO
        BOX 90031","address_street_2":null,"address_zip":"99509","candidate_election_year":2026,"candidate_id":"S6AK00276","candidate_inactive":false,"candidate_status":"C","cash_on_hand_end_period":"4636755.08","coverage_end_date":"2026-07-29","coverage_start_date":"2026-01-01","cycle":2026,"cycles":[2026],"debts_owed_by_committee":"0.00","disbursements":13908377.35,"district":"00","district_number":0,"election_districts":["00"],"election_year":2026,"election_years":[2026],"federal_funds_flag":false,"first_file_date":"2026-01-12","has_raised_funds":true,"incumbent_challenge":"C","incumbent_challenge_full":"Challenger","individual_itemized_contributions":9507127.48,"is_election":true,"last_f2_date":"2026-09-15","last_file_date":"2026-09-15","load_date":"2026-09-15T20:57:27","name":"PELTOLA,
        MARY","office":"S","office_full":"Senate","other_political_committee_contributions":602145.64,"party":"DEM","party_full":"DEMOCRATIC
        PARTY","receipts":18545132.43,"state":"AK","state_full":"Alaska","transfers_from_other_authorized_committee":1648275.45,"two_year_period":2026},{"active_through":2026,"address_city":"ANCHORAGE","address_state":"AK","address_street_1":"3705
        ARCTIC BOULEVARD #447","address_street_2":null,"address_zip":"99503","candidate_election_year":2026,"candidate_id":"S4AK00214","candidate_inactive":false,"candidate_status":"C","cash_on_hand_end_period":"7295069.20","coverage_end_date":"2026-07-29","coverage_start_date":"2021-01-01","cycle":2026,"cycles":[2014,2016,2018,2020,2022,2024,2026],"debts_owed_by_committee":"0.00","disbursements[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open.fec.gov/v1/candidates/totals/?api_key=REDACTED&election_full=true&election_year=2026&office=S&per_page=100&sort=-receipts&state=GA
  response:
    body:
      string: '{"api_version":"1.0","pagination":{"count":23,"is_count_exact":true,"page":1,"pages":1,"per_page":100},"results":[{"active_through":2026,"address_city":"ATLANTA","address_state":"GA","address_street_1":"PO
        BOX 450326","address_street_2":null,"ad[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open.fec.gov/v1/candidates/totals/?api_key=REDACTED&election_full=true&election_year=2026&office=S&per_page=100&sort=-receipts&state=IA
  response:
    body:
      string: '{"api_version":"1.0","pagination":{"count":12,"is_count_exact":true,"page":1,"pages":1,"per_page":100},"results":[{"active_through":2026,"address_city":"MARION","address_state":"IA","address_street_1":"PO
        BOX 811","address_street_2":null,"addres[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open.fec.gov/v1/candidates/totals/?api_key=REDACTED&election_full=true&election_year=2026&office=S&per_page=100&sort=-receipts&state=ME
  response:
    body:
      string: '{"api_version":"1.0","pagination":{"count":24,"is_count_exact":true,"page":1,"pages":1,"per_page":100},"results":[{"active_through":2026,"address_city":"ELLSWORTH","address_state":"ME","address_street_1":"PO
        BOX 570","address_street_2":null,"add[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open.fec.gov/v1/candidates/totals/?api_key=REDACTED&election_full=true&election_year=2026&office=S&per_page=100&sort=-receipts&state=MI
  response:
    body:
      string: '{"api_version":"1.0","pagination":{"count":25,"is_count_exact":true,"page":1,"pages":1,"per_page":100},"results":[{"active_through":2026,"address_city":"ST
        CLAIR SHORES","address_state":"MI","address_street_1":"PO BOX 126","address_street_2":nul[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open.fec.gov/v1/candidates/totals/?api_key=REDACTED&election_full=true&election_year=2026&office=S&per_page=100&sort=-receipts&state=MN
  response:
    body:
      string: '{"api_version":"1.0","pagination":{"count":19,"is_count_exact":true,"page":1,"pages":1,"per_page":100},"results":[{"active_through":2026,"address_city":"MINNEAPOLIS","address_state":"MN","address_street_1":"PO
        BOX 580439","address_street_2":null[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open.fec.gov/v1/candidates/totals/?api_key=REDACTED&election_full=true&election_year=2026&office=S&per_page=100&sort=-receipts&state=NC
  response:
    body:
      string: '{"api_version":"1.0","pagination":{"count":29,"is_count_exact":true,"page":1,"pages":1,"per_page":100},"results":[{"active_through":2026,"address_city":"RALEIGH","address_state":"NC","address_street_1":"301
        HILLSBOROUGH ST","address_street_2":"S[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open.fec.gov/v1/candidates/totals/?api_key=REDACTED&election_full=true&election_year=2026&office=S&per_page=100&sort=-receipts&state=NH
  response:
    body:
      string: '{"api_version":"1.0","pagination":{"count":15,"is_count_exact":true,"page":1,"pages":1,"per_page":100},"results":[{"active_through":2026,"address_city":"MANCHESTER","address_state":"NH","address_street_1":"PO
        BOX 313","address_street_2":null,"ad[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open.fec.gov/v1/candidates/totals/?api_key=REDACTED&election_full=true&election_year=2026&office=S&per_page=100&sort=-receipts&state=OH
  response:
    body:
      string: '{"api_version":"1.0","pagination":{"count":16,"is_count_exact":true,"page":1,"pages":1,"per_page":100},"results":[{"active_through":2026,"address_city":"COLUMBUS","address_state":"OH","address_street_1":"605
        N HIGH ST NUM 320","address_street_2"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open.fec.gov/v1/candidates/totals/?api_key=REDACTED&election_full=true&election_year=2026&office=S&per_page=100&sort=-receipts&state=TX
  response:
    body:
      string: '{"api_version":"1.0","pagination":{"count":39,"is_count_exact":true,"page":1,"pages":1,"per_page":100},"results":[{"active_through":2026,"address_city":"AUSTIN","address_state":"TX","address_street_1":"PO
        BOX 14508","address_street_2":null,"addr[...]
