interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-04-03&series_id=CPIAUCSL
  response:
    body:
      string: '{"realtime_start":"2026-09-12","realtime_end":"2026-09-12","observation_start":"2026-04-03","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":5,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-09-12","realtime_end":"2026-09-12","date":"2026-04-01","value":"332.407"},{"realtime_start":"2026-09-12","realtime_end":"2026-09-12","date":"2026-05-01","value":"333.979"},{"realtime_start":"2026-09-12","realtime_end":"2026-09-12","date":"2026-06-01","value":"332.568"},{"realtime_start":"2026-09-12","realtime_end":"2026-09-12","date":"2026-07-01","value":"332.813"},{"realtime_start":"2026-09-12","realtime_end":"2026-09-12","date":"2026-08-01","value":"334.131"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 11 Sep 2026 13:37:49 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-04-03&series_id=CPILFESL
  response:
    body:
      string: '{"realtime_start":"2026-09-12","realtime_end":"2026-09-12","observation_start":"2026-04-03","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":5,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-09-12","realtime_end":"2026-09-12","date":"2026-04-01","value":"335.423"},{"realtime_start":"2026-09-12","realtime_end":"2026-09-12","date":"2026-05-01","value":"336.121"},{"realtime_start":"2026-09-12","realtime_end":"2026-09-12","date":"2026-06-01","value":"336.065"},{"realtime_start":"2026-09-12","realtime_end":"2026-09-12","date":"2026-07-01","value":"336.789"},{"realtime_start":"2026-09-12","realtime_end":"2026-09-12","date":"2026-08-01","value":"337.765"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 11 Sep 2026 13:37:53 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-04-03&series_id=PCEPI
  response:
    body:
      string: '{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","observation_start":"2026-04-03","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":5,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-04-01","value":"130.672"},{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-05-01","value":"131.241"},{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-06-01","value":"131.106"},{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-07-01","value":"131.172"},{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-08-01","value":"131.579"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Wed, 30 Sep 2026 12:43:32 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-04-03&series_id=PCEPILFE
  response:
    body:
      string: '{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","observation_start":"2026-04-03","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":5,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-04-01","value":"129.395"},{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-05-01","value":"129.796"},{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-06-01","value":"129.969"},{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-07-01","value":"130.133"},{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-08-01","value":"130.455"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Wed, 30 Sep 2026 12:43:28 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-04-03&series_id=UNRATE
  response:
    body:
      string: '{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","observation_start":"2026-04-03","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":6,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-04-01","value":"4.3"},{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-05-01","value":"4.3"},{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-06-01","value":"4.2"},{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-07-01","value":"4.1"},{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-08-01","value":"4.1"},{"realtime_start":"2026-10-02","realtime_end":"2026-10-02","date":"2026-09-01","value":"4.2"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 02 Oct 2026 13:24:37 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-04-03&series_id=PAYEMS
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2026-04-03","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":6,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-04-01","value":"158798"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-05-01","value":"158861"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-06-01","value":"158892"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-07-01","value":"158882"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-08-01","value":"159015"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-09-01","value":"159044"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 02 Oct 2026 13:24:33 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-04-03&series_id=CIVPART
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2026-04-03","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":6,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-04-01","value":"61.8"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-05-01","value":"61.8"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-06-01","value":"61.5"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-07-01","value":"61.4"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-08-01","value":"61.6"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-09-01","value":"61.8"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 02 Oct 2026 13:26:18 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-07-02&series_id=ICSA
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2026-07-02","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":13,"offset":0,"limit":100000,"observations":[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-08-01&series_id=DFF
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2026-08-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":66,"offset":0,"limit":100000,"observations":[[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-08-01&series_id=DGS10
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2026-08-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":46,"offset":0,"limit":100000,"observations"[...]
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-08-01&series_id=T10Y2Y
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2026-08-01","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":47,"offset":0,"limit":100000,"observations[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-07-02&series_id=MORTGAGE30US
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2026-07-02","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":14,"offset":0,"limit":100000,"observ[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-04-03&series_id=HOUST
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2026-04-03","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":5,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-04-01","value":"1414.0"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-05-01","value":"1182.0"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-06-01","value":"1439"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-07-01","value":"1309"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-08-01","value":"1275"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Thu, 17 Sep 2026 12:32:40 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-04-03&series_id=CSUSHPINSA
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2026-04-03","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":4,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-04-01","value":"333.15"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-05-01","value":"335.584"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-06-01","value":"336.908"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-07-01","value":"337.306"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Wed, 30 Sep 2026 21:00:29 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2025-08-26&series_id=GDPC1
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2025-08-26","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":4,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2025-07-01","value":"24112.966"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2025-10-01","value":"24125.479"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-01-01","value":"24274.383"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-04-01","value":"24408.011"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Wed, 30 Sep 2026 12:53:55 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2025-08-26&series_id=A191RL1Q225SBEA
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2025-08-26","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":4,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2025-07-01","value":"3.9"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2025-10-01","value":"0.2"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-01-01","value":"2.5"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-04-01","value":"2.2"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Wed, 30 Sep 2026 12:59:38 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-04-03&series_id=UMCSENT
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2026-04-03","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":5,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-04-01","value":"49.8"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-05-01","value":"44.8"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-06-01","value":"49.5"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-07-01","value":"55.2"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-08-01","value":"51.7"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 25 Sep 2026 15:02:24 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-04-03&series_id=RSAFS
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2026-04-03","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":5,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-04-01","value":"723921.0"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-05-01","value":"731415.0"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-06-01","value":"732898.0"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-07-01","value":"729538.0"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-08-01","value":"737763.0"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Tue, 29 Sep 2026 15:22:31 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2026-04-03&series_id=INDPRO
  response:
    body:
      string: '{"realtime_start":"2026-09-22","realtime_end":"2026-09-22","observation_start":"2026-04-03","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":5,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-09-22","realtime_end":"2026-09-22","date":"2026-04-01","value":"102.5783"},{"realtime_start":"2026-09-22","realtime_end":"2026-09-22","date":"2026-05-01","value":"102.6396"},{"realtime_start":"2026-09-22","realtime_end":"2026-09-22","date":"2026-06-01","value":"102.842"},{"realtime_start":"2026-09-22","realtime_end":"2026-09-22","date":"2026-07-01","value":"103.0454"},{"realtime_start":"2026-09-22","realtime_end":"2026-09-22","date":"2026-08-01","value":"103.0682"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 18 Sep 2026 13:20:08 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2025-08-26&series_id=GFDEBTN
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2025-08-26","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":4,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2025-07-01","value":"37637552.59555763"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2025-10-01","value":"38514009.0"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-01-01","value":"39065421.0"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2026-04-01","value":"39462398.0"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Thu, 01 Oct 2026 14:22:21 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.stlouisfed.org/fred/series/observations?api_key=REDACTED&file_type=json&observation_start=2024-07-22&series_id=FYFSD
  response:
    body:
      string: '{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","observation_start":"2024-07-22","observation_end":"9999-12-31","units":"lin","output_type":1,"file_type":"json","order_by":"observation_date","sort_order":"asc","count":2,"offset":0,"limit":100000,"observations":[{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2024-09-30","value":"-1815377.0"},{"realtime_start":"2026-10-07","realtime_end":"2026-10-07","date":"2025-09-30","value":"-1774684.0"}]}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      last-modified:
      - Fri, 03 Apr 2026 17:02:11 GMT
      x-location:
      - cfs
    status:
      code: 200
      message: OK
version: 1
