interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.cookpolitical.com/robots.txt
  response:
    body:
      string: "#\n# robots.txt for The Cook Political Report (cookpolitical.com)\n#\n#
        This file controls how automated clients (search engines and AI crawlers)\n#
        may access the site. It is maintained by hand and is intentionally excluded\n#
        from Drupal's composer scaffold (\"[web-root]/robots.txt\": false), so editing\n#
        it here is safe and expected.\n#\n# robots.txt is ADVISORY. Well-behaved crawlers
        honor it; others ignore it.\n# Hard enforcement (throttle / challe[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.cookpolitical.com/ratings/senate-race-ratings
  response:
    body:
      string: "<!DOCTYPE html>  <html lang=\"en\" dir=\"ltr\" prefix=\"content: http://purl.org/rss/1.0/modules/content/
        \ dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#
        \ rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/
        \ sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos:
        http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema#
        \">\n    \n    <head>\n      <script src=\"https://cdn.pagesense.io/js/cookpoliticalreport/b1fe369d67cf45abb4ebfbb957f84a8e.js\"></script>\n
        \           <script type=\"text/javascript\">\n      var _sf_startpt = (new
        Date()).getTime()\n\n      </script>\n      <meta charset=\"utf-8\" />\n<link
        rel=\"canonical\" href=\"https://www.cookpolitical.com/ratings/senate-race-ratings\"
        />\n<meta name=\"google\" content=\"kj-H2nqc26oDNbEbpQ6LmKT4p0Qm82Pg9ONjjPB3De0\"
        />\n<meta property=\"og:site_name\" content=\"Cook Political Report\" />\n<meta
        property=\"og:title\" content=\"2026 CPR Senate Race ratings | Cook Political
        Report\" />\n<meta property=\"og:image\" content=\"https://www.cookpolitical.com/themes/custom/politicalrep[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://insideelections.com/robots.txt
  response:
    body:
      string: 'User-agent: *

        Disallow: /wp-admin/

        Allow: /wp-admin/admin-ajax.php


        Sitemap: https://insideelections.com/wp-sitemap.xml

        '
    headers:
      content-type:
      - text/plain; charset=utf-8
      ki-cache-type:
      - None
      ki-cf-cache-status:
      - BYPASS
      ki-edge:
      - v=28.5.0;mv=99.9.9
      ki-edge-o2o:
      - 'yes'
      ki-origin:
      - g1p
      x-edge-location-klb:
      - '1'
      x-kinsta-cache:
      - HIT
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://insideelections.com/wp-content/themes/inside-elections/cache/ratings_latest_senate_year=2026_district=all_clean.json
  response:
    body:
      string: "{\n    \"office\": \"Senate\",\n    \"total\": 100,\n    \"last_updated\":
        \"2026-10-01T13:23:00-05:00\",\n    \"generated_at\": \"2026-10-01T18:23:01+00:00\",\n
        \   \"ratings\": [\n        {\n            \"district\": \"TX\",\n            \"state\":
        \"tx\",\n            \"election_year\": \"2026\",\n            \"office\":
        \"II\",\n            \"office_slug\": \"ii\",\n            \"date\": \"2026-10-01T13:23:00-05:00\",\n
        \           \"rating\": \"Tilt Republican\",\n            \"rating_numeric\":
        7,\n            \"shift\": \"left\",\n            \"previous_rating\": \"Lean
        Republican\",\n            \"flipped\": false,\n            \"incumbent_name\":
        \"\",\n            \"incumbent\": [\n                {\n                    \"name\":
        \"Cornyn\",\n                    \"first_name\": \"John\",\n                    \"party\":
        \"R\"\n                }\n            ],\n            \"party\": {\n                \"name\":
        \"Republican\",\n                \"slug\": \"republican\"\n            },\n
        \           \"open\": true,\n            \"special\": false,\n            \"electoral_votes\":
        null,\n            \"note\": \"\"\n        },\n        {\n            \"district\":
        \"NC\",\n            \"state\": \"nc\",\n            \"election_year\": \"2026\",\n
        \           \"office\": \"II\",\n            \"office_slug\": \"ii\",\n            \"date\":
        \"2026-10-01T13:22:51-05:00\",\n            \"rating\": \"Lean Democrat\",\n
        \           \"rating_numeric\": 2,\n            \"shift\": \"left\",\n            \"previous_rating\":
        \"Tilt Democrat\",\n            \"flipped\": tr[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://centerforpolitics.org/robots.txt
  response:
    body:
      string: '<!DOCTYPE html><html lang="en-US"><head><title>Just a moment...</title><meta
        http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta http-equiv="X-UA-Compatible"
        content="IE=Edge"><meta name="robots" content="noindex,nofollow"><meta name="viewport"
        content="width=device-width,initial-scale=1"><meta http-equiv="content-security-policy"
        content="default-src &#39;none&#39;; script-src &#39;nonce-1Vjyamd8b41v0f6qNye79S&#39;
        &#39;unsafe-eval&#39; https://challenges.cloudflare.com; script-src-attr &#39;none&#39;;
        style-src &#39;unsafe-inline&#39;; img-src &#39;self&#39; https://challenges.cloudflare.com;
        connect-src &#39;self&#39; https://challenges.cloudflare.com; frame-src &#39;self&#39;
        https://challenges.cloudflare.com blob:; child-src &#39;self&#39; https://challenges.cloudflare.com
        blob:; worker-src blob:; form-action http: https:; base-uri &#39;self&#39;"><style>*{box-sizing:border-box;margin:0;padding:0}html{line-height:1.15;-webkit-text-size-adjust:100%;color:#313131;font-family:system-ui,-apple-system,BlinkMacSystemFont,"Segoe
        UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe
        UI Emoji","Segoe UI Symbol","Noto Color Emoji"}body{display:flex;flex-direction:column;height:100vh;min-height:100vh}.main-content{margin:8rem
        auto;padding-left:1.5rem;max-width:60rem}@media (width <= 720px){.main-content{margin-top:4rem}}#challenge-error-text{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI0IyMEYwMyIgZD0iTTE2IDNhMTMgMTMgMCAxIDAgMTMgMTNBMTMuMDE1IDEzLjAxNSAwIDAgMCAxNiAzbTAgMjRhMTEgMTEgMCAxIDEgMTEtMTEgMTEuMDEgMTEuMDEgMCAwIDEtMTEgMTEiLz48cGF0aCBmaWxsPSIjQjIwRjAzIiBkPSJNMTcuMDM4IDE4LjYxNUgxNC44N0wxNC41NjMgOS41aDIuNzgzem0tMS4wODQgMS40MjdxLjY2IDAgMS4wNTcuMzg4LjQwNy4zODkuNDA3Ljk5NCAwIC41OTYtLjQwNy45ODQtLjM5Ny4zOS0xLjA1Ny4zODktLjY1IDAtMS4wNTYtLjM4OS0uMzk4LS4zODktLjM5OC0uOTg0IDAtLjU5Ny4zOTgtLjk4NS40MDYtLjM5NyAxLjA1Ni0uMzk3Ii8+PC9zdmc+");background-repeat:no-repeat;background-size:contain;padding-left:34px}</style><meta
        http-equiv="refresh" content="360"></head><body><div class="main-wrapper"
        role="main"><div class="main-content"><noscript><div class="h2"><span id="challenge-error-text">Enable
        JavaScript and cookies to continue</span></div></noscript></div></div><script
        nonce="1Vjyamd8b41v0f6qNye79S">(function(){window._cf_chl_opt = {cFPWv: ''g'',cH:
        ''FCV3hzz0uSGQTRcbOxzePJnDVegc_OHcaLVbn3N3OsI-1791388261-1.2.1.1-xPYz05bg83Ugx0dAjHm6stXikBqxnieKV.K8vOMpg41sk3W.34hshij.IPEuYcqB'',cITimeS:
        ''1791388261'',cN: ''1Vjyamd8b41v0f6qNye79S'',cRay: ''a46e109a49b8ab9a'',cTplB:
        ''0'',cTplC:0,cTplO:0,cTplV:5,cType: ''managed[...]
