interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://voteview.com/static/data/out/rollcalls/S119_rollcalls.csv
  response:
    body:
      string: 'congress,chamber,rollnumber,date,session,clerk_rollnumber,majority_requirement,yea_count,nay_count,nominate_mid_1,nominate_mid_2,nominate_spread_1,nominate_spread_2,nominate_log_likelihood,bill_number,vote_result,vote_desc,vote_question,dtl_desc

        119,Senate,1,2025-01-09,1,1,3/5,84,9,-0.444,-0.634,-0.708,-0.181,-10.067,S5,Cloture
        Motion Agreed to,"A bill to require the Secretary of Homeland Security to
        take into custody aliens who have been charged in the United States w[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://voteview.com/api/download?rollcall_id=RS1190915
  response:
    body:
      string: '{"rollcalls": [{"party_vote_counts": {"100": {"6": 39, "9": 6}, "200":
        {"1": 47, "9": 6}, "328": {"6": 2}}, "vote_title": "Confirmation: Keith Sonderling,
        of F.L., to be Secretary of Labor", "key_flags": [], "yea_count": 47, "bill_number":
        "PN1129", "id": "RS1190915", "tie_breaker": {}, "votes": [{"member_full":
        "Alsobrooks (D-MD)", "last_name": "Alsobrooks", "first_name": "Angela", "party":
        "Democratic Party", "state": "MD", "lis_member_id": "S428", "bioguide_id":
        "A000382", "cast_str": "Nay", "icpsr": 42500, "prob": 100, "vote": "Nay",
        "paired_flag": 0, "vote_modifier": "", "x": -0.455, "y": 0.059, "name": "ALSOBROOKS,
        Angela Deneece", "seo_name": "angela-deneece-alsobrooks", "party_short_name":
        "Democrat", "party_code": 100, "img": "042500.jpg", "state_abbrev": "MD",
        "district": ""}, {"member_full": "Armstrong (R-OK)", "last_name": "Armstrong",
        "first_name": "Alan", "party": "Republican Party", "state": "OK", "lis_member_id":
        "S440", "bioguide_id": "A000383", "cast_str": "Yea", "icpsr": 42507, "prob":
        100, "vote": "Yea", "paired_flag": 0, "vote_modifier": "", "x": 0.647, "y":
        -0.23, "name": "ARMSTRONG, Alan", "seo_name": "alan-armstrong", "party_short_name":
        "Republican", "party_code": 200, "img": "042507.jpg", "state_abbrev": "O[...]
[...]
