interactions:
- request:
    body: ''
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://api.x.com/2/users/18061669/tweets?exclude=retweets&max_results=5&start_time=2026-09-30T00%3A00%3A00Z&tweet.fields=created_at%2Cpublic_metrics%2Creferenced_tweets%2Clang
  response:
    body:
      string: "{\"data\":[{\"created_at\":\"2026-10-05T22:52:37.000Z\",\"edit_history_tweet_ids\":[\"2107242586108834095\"],\"id\":\"2107242586108834095\",\"lang\":\"en\",\"public_metrics\":{\"bookmark_count\":1,\"impression_count\":8384,\"like_count\":64,\"quote_count\":1,\"reply_count\":21,\"retweet_count\":5},\"text\":\"Senator
        Stevens was a tireless champion for Alaska and the men and women who serve
        our nation, and it was an honor to celebrate his name joining one of the most
        formidable warships of the 21st century. I know Captain Hays and her crew
        will proudly carry on Uncle Ted\u2019s legacy of https://t.co/xhfRCiC2iw\"},{\"created_at\":\"2026-10-01T19:14:43.000Z\",\"edit_history_tweet_ids\":[\"2105738197368238324\"],\"id\":\"2105738197368238324\",\"lang\":\"en\",\"public_metrics\":{\"bookmark_count\":3,\"impression_count\":12879,\"like_count\":241,\"quote_count\":2,\"reply_count\":21,\"retweet_count\":13},\"referenced_tweets\":[{\"id\":\"2105295755925745956\",\"type\":\"quoted\"}],\"text\":\"Congrats
        to Backpack on becoming the 2026 Fat Bear Week Champion and showing the world
        how Alaskans get through the winter: eating a lot of salmon! https://t.co/1FsxytsNzh\"},{\"created_at\":\"2026-09-30T23:31:15.000Z\",\"edit_history_tweet_ids\":[\"2105440368166596960\"],\"id\":\"2105440368166596960\",\"lang\":\"en\",\"public_metrics\":{\"bookmark_count\":6,\"impression_count\":11318,\"like_count\":84,\"quote_count\":8,\"reply_count\":69,\"retweet_count\":14},\"text\":\"This
        unprecedented announcement moves our long-sought Alaska natural gas pipeline
        closer than ever to construction and operation. South Korea\u2019s commitment
        to invest $54 billion to build the gasline will deliver significant benefits
        for Alaskans, from good jobs to affordable\"},{\"created_at\":\"2026-09-30T19:08:51.000Z\",\"edit_history_tweet_ids\":[\"2105374331161235848\"],\"id\":\"2105374331161235848\",\"lang\":\"en\",\"public_metrics\":{\"bookmark_count\":10,\"impression_count\":14275,\"like_count\":196,\"quote_count\":6,\"reply_count\":75,\"retweet_count\":28},\"text\":\"On
        Orange Shirt Day, the National Day of Remembrance for Indian Boarding School
        Survivors, we honor the children who returned home and remember those who
        never did. \U0001F9E1 https://t.co/uwLMreGWAE\"}],\"meta\":{\"newest_id\":\"2107242586108834095\",\"oldest_id\":\"2105374331161235848\",\"result_count\":4}}"
    headers:
      api-version:
      - '2.170'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      origin-cf-ray:
      - a46e1d61be72cca0-ATL
      perf:
      - '7402827104'
      x-access-level:
      - read
      x-rate-limit-limit:
      - '10000'
      x-rate-limit-remaining:
      - '9998'
      x-rate-limit-reset:
      - '1791389222'
      x-response-time:
      - '73'
      x-transaction-id:
      - 2bf5b1997056e3aa
    status:
      code: 200
      message: OK
[...]
